.chart-pointer {
	width: 25px !important;
	border-radius: 50% !important;
	position: relative !important;
	height: 25px !important;
	background: linear-gradient(90deg, #4086ff 0%, #2bcdff 100%) !important;
	border: 6px solid wheat !important;
	box-shadow: 0px 3px 10px rgb(0 0 0 / 10%) !important;
	span {
		margin: 0 !important;
		font-size: 14px !important;
		color: black;
		font-family: 'Inter';
	}
	p {
		margin: 0;
	}
	.chart-text-title {
		font-weight: bold;
	}
}

.chart-pointer-arrow {
	position: absolute !important;
	top: -1px !important;
	z-index: 2 !important;
	width: 15px !important;
	height: 15px !important;
	border-top-right-radius: 6px !important;
	border-top: 1.5px solid #1fa5ff !important;
	border-right: 1.5px solid #1fa5ff !important;
	background: wheat !important;
}

.chart-pointer-text {
	position: absolute !important;
	width: max-content !important;
	background: wheat !important;
	z-index: 1 !important;
	border: 1px solid #1fa5ff !important;
	box-sizing: border-box !important;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 10%) !important;
	border-radius: 10px !important;
	display: flex !important;
	flex-direction: column !important;
	padding: 20px !important;
	hr {
		width: 100%;
		margin: 10px 0;
	}
}

.chart-total-vested {
	margin: 10px 0 !important ;
}
.chart-percent-value {
	font-size: 12px !important;
	line-height: 22px !important;
	color: grey !important;
}